data/
labels/
*.mat
__pycache__/
*.pyc
venv/
.venv/
.DS_Store

*.npy
sample*
__pycache__
datasets/dataset_kaggle/data/*.mp4
datasets/dataset_kaggle/labels/automated_mask/*.mat
datasets/dataset_tpu/*.mp4
datasets/dataset_tpu/*.mat
runs/
*.pkl
models/Thermal-Contrast/cache/
*.mp4
fourier_features/
fourier_runs/
*.tar
*.log

datasets/dataset_defects/
datasets/dataset_for_segmentation/
datasets/datasets_list/**/data/
datasets/datasets_list/**/masks/
*.zip
datasets/**/*png
