data/
labels/
*.mat
__pycache__/
*.pyc
venv/
.venv/
.DS_Store

*.npy
sample*
__pycache__
datasets/dataset_kaggle/data/*.mp4
datasets/dataset_kaggle/labels/automated_mask/*.mat
datasets/dataset_tpu/*.mp4
datasets/dataset_tpu/*.mat
runs/
*.mp4

*.zip
datasets/dataset_defects
datasets/dataset_for_segmentation
datasets/**/*.png